Source: initrd-amd64
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: initrd-amd64
Architecture: amd64
Depends:
Description: initrd-amd64
 initrd-amd64

