Source: onlp-powerpc-as5710-54x-r0b
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: onlp-powerpc-as5710-54x-r0b
Architecture: powerpc
Depends: 
Description: AS5710-54X R0B
 AS5710-54X R0B
