Source: kernel-3.2-deb7-x86-64-all
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: kernel-3.2-deb7-x86-64-all
Architecture: amd64
Depends:
Description: SwitchLight 3.2 Kernel for x86_64 platforms.
 This package provides the SwitchLight 3.2 Kernel for x86_64 platforms.

Package: kernel-3.2-deb7-x86-64-all-mbuild
Architecture: amd64
Depends:
Description: SwitchLight 3.2 Kernel for x86_64 platforms (Module Builds)
 This package provides the SwitchLight 3.2 Kernel for x86_64 platforms (Module Builds)

