#!/usr/bin/make -f
############################################################
# <bsn.cl fy=2013 v=none>
#
#        Copyright 2013, 2014 BigSwitch Networks, Inc.
#
#
#
# </bsn.cl>
############################################################

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/kernels/x86_64/src
	cp -R ../../linux-3.2.65-1+deb7u2-mbuild $(INSTALL_DIR)/usr/kernels/x86_64/src
	cp -R ../../kernel-3.2-deb7-x86_64-all $(INSTALL_DIR)/usr/kernels/x86_64

override_dh_strip:
	@echo "Skipping dh_strip"


