Source: platform-config-x86-64-im-n29xx-t40n-r0
Section: misc
Priority: optional
Maintainer: IMT Support <support@interfacemasters.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-x86-64-im-n29xx-t40n-r0
Architecture: all
Depends: vendor-config-imt
Description: Platform Configuration files for x86-64-im-n29xx-t40n-r0.
 Platform Configuration files for Interface Masters Technologies, Inc.
 HW platforms modular (n2972, n2960-6xlm, n2948-12xlm, n2948-6xlm)
 and non modular (n2960-6xl, n2948-12xl, n2948-6xl, n2632xl).
