Source: kernel-e500mc
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: kernel-e500mc
Architecture: powerpc
Depends:
Description: Open Network Linux Kernel for PowerPC P2041/e500mc
 This package provides the Open Network Linux Kernel for PowerPC P2041/e500mc

Package: kernel-e500mc-headers
Architecture: powerpc
Depends:
Description: Open Network Linux Kernel for PowerPC P2041/e500mc (Headers)
 This package provides the Open Network Linux Kernel for PowerPC P2041/e500mc (Headers)

Package: kernel-e500mc-dtbs
Architecture: powerpc
Depends:
Description: Open Network Linux DTBs for PowerPC P2041/e500mc Platforms
 This package provides the DTBs for supported platforms based on teh P2041/e500mc kernel.

