Source: faultd
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: faultd
Architecture: any
Depends: libc6
Description: Fault Reporting Daemon
 This package provides the Fault Reporting Daemon. 

Package: faultd-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
        faultd (= ${binary:Version}),
	${misc:Depends}
Description: Debugging symbols for faultd
 This packages provides the debug symbols for faultd.