#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)

%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/bin $(INSTALL_DIR)/etc/init.d
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/faultd.bin $(INSTALL_DIR)/usr/bin/faultd
	cp $(ONL)/components/all/faultd/faultd.init debian/

override_dh_installinit:
	dh_installinit --name=faultd

override_dh_strip:
	dh_strip --dbg-package=faultd-dbg

