Source: platform-powerpc-as6700-32x-r0b
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-powerpc-as6700-32x-r0b
Architecture: powerpc
Depends: 
Description: Quanta LY2 Platform Files
 Quanta LY2 Platform Files
