[submodule "submodules/loader"]
	path = submodules/loader
	url = git@github.com:bigswitch/onl-loader
[submodule "submodules/linux-3.9.6"]
	path = submodules/linux-3.9.6
	url = git@github.com:opennetworklinux/linux-3.9.6
[submodule "submodules/infra"]
	path = submodules/infra
	url = git@github.com:floodlight/infra
[submodule "submodules/common"]
	path = submodules/common
	url = git@github.com:bigswitch/onl-common
