[submodule "submodules/loader"]
	path = submodules/loader
	url = git://github.com/opennetworklinux/loader
[submodule "submodules/linux-3.9.6"]
	path = submodules/linux-3.9.6
	url = git://github.com/opennetworklinux/linux-3.9.6
[submodule "submodules/infra"]
	path = submodules/infra
	url = git://github.com/floodlight/infra
[submodule "submodules/common"]
	path = submodules/common
	url = git://github.com/opennetworklinux/common
[submodule "submodules/linux-3.8.13"]
	path = submodules/linux-3.8.13
	url = git://github.com/opennetworklinux/linux-3.8.13
[submodule "submodules/onlp"]
	path = submodules/onlp
	url = git://github.com/opennetworklinux/ONLP
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git://github.com/floodlight/bigcode
[submodule "submodules/onlp-quanta"]
	path = submodules/onlp-quanta
	url = git://github.com/opennetworklinux/ONLP-quanta
[submodule "submodules/linux"]
	path = submodules/linux
	url = git://github.com/opennetworklinux/linux
# These are actually closed source repos and can only
# be checked out by maintainers.  The automatic
# submodule checkout part of the build system should
# prevent people from accidentally checking these out
#
# TODO: sync with these companies and verify we can open
# source them!
[submodule "submodules/onlp-dni"]
	path = submodules/onlp-dni
	url = git@github.com:opennetworklinux/onlp-dni
[submodule "submodules/onlp-accton"]
	path = submodules/onlp-accton
	url = git@github.com:opennetworklinux/onlp-accton
[submodule "submodules/onlp-dell"]
	path = submodules/onlp-dell
	url = git@github.com:opennetworklinux/onlp-dell
[submodule "submodules/ofdpa-2.0"]
	path = submodules/ofdpa-2.0
	url = git://github.com/opennetworklinux/ofdpa-2.0
[submodule "submodules/indigo"]
	path = submodules/indigo
	url = git://github.com/floodlight/indigo
[submodule "submodules/ofdpa-2.0-closed"]
	path = submodules/ofdpa-2.0-closed
	url = git@github.com:opennetworklinux/ofdpa-2.0-closed
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = git://github.com/floodlight/loxigen-artifacts
