[submodule "submodules/loader"]
	path = submodules/loader
	url = git://github.com/opennetworklinux/loader
[submodule "submodules/linux-3.9.6"]
	path = submodules/linux-3.9.6
	url = git://github.com/opennetworklinux/linux-3.9.6
[submodule "submodules/infra"]
	path = submodules/infra
	url = git://github.com/floodlight/infra
[submodule "submodules/common"]
	path = submodules/common
	url = git://github.com/opennetworklinux/common
[submodule "submodules/linux-3.8.13"]
	path = submodules/linux-3.8.13
	url = git://github.com/opennetworklinux/linux-3.8.13
[submodule "submodules/onlp"]
	path = submodules/onlp
	url = git://github.com/opennetworklinux/ONLP
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = git://github.com/floodlight/bigcode
[submodule "submodules/onlp-quanta"]
	path = submodules/onlp-quanta
	url = git://github.com/opennetworklinux/ONLP-quanta
[submodule "submodules/onlp-dni"]
	path = submodules/onlp-dni
	url = git@github.com:opennetworklinux/onlp-dni
[submodule "submodules/onlp-accton"]
	path = submodules/onlp-accton
	url = git@github.com:opennetworklinux/ONLP-accton
