Source: platform-config-qemu
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-qemu
Architecture: all
Depends: 
Description: Platform Configuration files for qemu.
 Platform Configuration files for qemu.
