## Begin grub-common.cfg

#  Copyright (C) 2014 Curt Brune <curt@cumulusnetworks.com>
#  Copyright (C) 2015-2016 david_yang <david_yang@accton.com>
#
#  SPDX-License-Identifier:     GPL-2.0

set timeout=5

onie_submenu="ONIE (Version: $onie_version)"

onie_menu_install="ONIE: Install OS"
export onie_menu_install
onie_menu_rescue="ONIE: Rescue"
export onie_menu_rescue
onie_menu_uninstall="ONIE: Uninstall OS"
export onie_menu_uninstall
onie_menu_update="ONIE: Update ONIE"
export onie_menu_update
onie_menu_embed="ONIE: Embed ONIE"
export onie_menu_embed

set fallback="${onie_menu_rescue}"

# default ONIE boot reason
onie_boot_reason="install"

onie_quiet="quiet"
onie_linux="/onie/vmlinuz-${onie_kernel_version}-onie"
onie_initrd="/onie/initrd.img-${onie_kernel_version}-onie"

function onie_entry_start {
  insmod gzio
  insmod ext2
  if [ "$onie_partition_type" = "gpt" ] ; then
    insmod part_gpt
    set root='(hd0,gpt2)'
  else
    insmod part_msdos
    set root='(hd0,msdos1)'
  fi
  search --no-floppy --label --set=root ONIE-BOOT
}

function onie_entry_end {
  echo "Version   : $onie_version"
  echo "Build Date: $onie_build_date"
}

function onie_bootcmd {
  onie_entry_start
  if [ "$onie_boot_reason" = "install" ] ; then
    echo "ONIE: OS Install Mode ..."
  elif [ "$onie_boot_reason" = "rescue" ] ; then
    echo "ONIE: Rescue Mode ..."
  elif [ "$onie_boot_reason" = "uninstall" ] ; then
    echo "ONIE: OS Uninstall Mode ..."
  elif [ "$onie_boot_reason" = "update" ] ; then
    echo "ONIE: ONIE Update Mode ..."
  elif [ "$onie_boot_reason" = "embed" ] ; then
    echo "ONIE: ONIE Embed Mode ..."
  else
    echo "ERROR: Unsupported ONIE boot mode: $onie_boot_reason"
    return 1
  fi
  if [ -z "$GRUB_ONIE_CMDLINE_LINUX" ] ; then
    onie_args="$onie_quiet $onie_initargs $onie_initargs_default $onie_platformargs $onie_debugargs $ONIE_EXTRA_CMDLINE_LINUX"
  else
    onie_args="$GRUB_ONIE_CMDLINE_LINUX $ONIE_EXTRA_CMDLINE_LINUX"
  fi
  linux   $onie_linux $onie_args boot_reason=$onie_boot_reason
  initrd  $onie_initrd
  onie_entry_end
  boot
}

function onie_install {
  onie_boot_reason="install"
  onie_bootcmd
}

function onie_rescue {
  onie_boot_reason="rescue"
  onie_bootcmd
}

function onie_uninstall {
  onie_boot_reason="uninstall"
  onie_bootcmd
}

function onie_update {
  onie_boot_reason="update"
  onie_bootcmd
}

function onie_embed {
  onie_boot_reason="embed"
  onie_bootcmd
}

function reset_onie_mode {
   set onie_mode="none"
   save_env onie_mode
}

# Load environment variables
load_env
if [ "$onie_mode" = "install" ] ; then
   set default="${onie_menu_install}"
elif [ "$onie_mode" = "uninstall" ] ; then
   set default="${onie_menu_uninstall}"
   # clear uninstall mode after one boot attempt
   reset_onie_mode
elif [ "$onie_mode" = "update" ] ; then
   set default="${onie_menu_update}"
elif [ "$onie_mode" = "embed" ] ; then
   set default="${onie_menu_embed}"
elif [ "$onie_mode" = "rescue" ] ; then
   set default="${onie_menu_rescue}"
   # clear rescue mode after one boot attempt
   reset_onie_mode
elif [ "$onie_mode" = "diag" ] ; then
   if [ -n "$diag_menu" ] ; then
       set default="${diag_menu}"
   fi
   reset_onie_mode
fi

menuentry "$onie_menu_install" {
  onie_install
}

menuentry "$onie_menu_rescue" {
  onie_rescue
}

menuentry "$onie_menu_uninstall" {
  onie_uninstall
}

menuentry "$onie_menu_update" {
  onie_update
}

menuentry "$onie_menu_embed" {
  onie_embed
}

if [ -n "$diag_menu" ] ; then
  menuentry "$diag_menu" {
    diag_bootcmd
  }
fi

## End grub-common.cfg
