#  Copyright (C) 2014,2015,2017 Curt Brune <curt@cumulusnetworks.com>
#  Copyright (C) 2014 david_yang <david_yang@accton.com>
#  Copyright (C) 2014 Stephen Su <sustephen@juniper.net>
#
#  SPDX-License-Identifier:     GPL-2.0

if [ "<SERIAL_CONSOLE_ENABLE>" == "yes"  ] ; then
  serial --port=<CONSOLE_PORT> --speed=<CONSOLE_SPEED> --word=8 --parity=no --stop=1
  terminal_input serial
  terminal_output serial
  CONSOLE_CMDLINE_LINUX="console=tty0 console=ttyS<CONSOLE_DEV>,<CONSOLE_SPEED>n8"
  export CONSOLE_CMDLINE_LINUX
fi
set timeout=3

function onie_entry_start {
  if [ "${grub_platform}" != "efi" ] ; then
    acpi --no-ebda
  fi
}

function onie_entry_end {
  echo "Platform  : $onie_build_platform"
  echo "Version   : $onie_version"
  echo "Build Date: $onie_build_date"
}

ONIE_CMDLINE_LINUX="quiet ${CONSOLE_CMDLINE_LINUX} <EXTRA_CMDLINE_LINUX> boot_env=recovery"
set default="<GRUB_DEFAULT_ENTRY>"

menuentry "ONIE: Rescue" --class gnu-linux --class onie {
  echo    "ONIE: Rescue Mode ..."
  onie_entry_start
  linux   /vmlinuz $ONIE_CMDLINE_LINUX boot_reason=rescue
  initrd  /initrd.xz
  onie_entry_end
}

menuentry "ONIE: Embed ONIE" --class gnu-linux --class onie {
  echo    "ONIE: Embedding ONIE ..."
  onie_entry_start
  linux   /vmlinuz $ONIE_CMDLINE_LINUX boot_reason=embed install_url=file:///lib/onie/onie-updater
  initrd  /initrd.xz
  onie_entry_end
}
