Source: initrd-i386
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: initrd-i386
Architecture: i386
Depends: 
Description: initrd-i386
 initrd-i386

