Source: onlp-x86-64-quanta-ly8-rangeley-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: onlp-x86-64-quanta-ly8-rangeley-r0
Architecture: amd64
Depends:
Description: ONLP Platform Simulation Library.
 ONLP Platform Simulation Library.
