#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PLATFORM_NAME = x86-64-quanta-ly8-rangeley-r0
BUILD_DIR_BASE = ../../build


%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/lib
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/bin
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/libonlp-$(PLATFORM_NAME).so $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/lib
	cp ../../onlpdump $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/bin/onlpdump

override_dh_install:
	mkdir -p debian/onlp-$(PLATFORM_NAME)/lib/platform-config/
	cp -rf $(INSTALL_DIR)/lib/platform-config/* debian/onlp-$(PLATFORM_NAME)/lib/platform-config/
