Source: indigo-ofdpa-ofagent
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: indigo-ofdpa-ofagent
Architecture: any
Depends: indigo-ofdpa-ofagent-platform, onlp-platform-defaults
Description: ONLP Base
 ONLP Base
