#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PACKAGE_NAME = indigo-ofdpa-ofagent



%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_shlibdeps:
	@echo "Skipping dh_shlibdeps"

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/sbin
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/indigo-ofdpa-ofagent $(INSTALL_DIR)/usr/sbin




