Source: platform-config-powerpc-dni-7448-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-powerpc-dni-7448-r0
Architecture: all
Depends: vendor-config-dni
Description: Platform Configuration files for powerpc-dni-7448-r0.
 Platform Configuration files for powerpc-dni-7448-r0.
