Source: ofdpa-2.0-closed
Section: misc
Priority: optional
Maintainer: Support <opennetworklinux@groups.google.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: ofdpa-2.0-closed
Architecture: any
Depends: 
Description: OF-DPA 2.0 Binaries
 https://github.com/Broadcom-Switch/of-dpa but ported to ONL
