## Begin grub-common.cfg

serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial
set timeout=5

CMDLINE_LINUX_SERIAL="console=ttyS0,115200n8"

onie_submenu="ONIE (Version: $onie_version)"
onie_menu_install="ONIE: Install OS"
export onie_menu_install
onie_menu_rescue="ONIE: Rescue"
export onie_menu_rescue
onie_menu_uninstall="ONIE: Uninstall OS"
export onie_menu_uninstall
onie_menu_update="ONIE: Update ONIE"
export onie_menu_update

set default="${onie_submenu}>${onie_menu_install}"

## End grub-common.cfg
