# This is a sample local.make file
#
# If "local.make" exists it is included early on by the primary
# makefile, build-config/Makefile.
#
# Setting variables in this file allows you to override various
# defaults set in the other makefiles.  The other makefiles set some
# variables using the "=?" operator, only setting the variable if it
# is not already defined.

# Set the default MACHINEROOT directory
# MACHINEROOT = $(realpath ../machine)

# Set the default MACHINE to build
# MACHINE = fsl_p2020rdbpca

# Set the default directory for downloaded packages
# DOWNLOADDIR = $(BUILDDIR)/download

# Set the default version string
# LSB_RELEASE_TAG = 2014.02

# Set the base URLs for the downloaded packages.  You could change these to
# setup a local mirror.
#
# LINUX_TARBALL_URLS = https://www.kernel.org/pub/linux/kernel/v3.x
# UBOOT_TARBALL_URLS = ftp://ftp.denx.de/pub/u-boot
# UCLIBC_TARBALL_URLS = http://www.uclibc.org/downloads
# BUSYBOX_TARBALL_URLS = http://www.busybox.net/downloads
# ZLIB_TARBALL_URLS = http://zlib.net \
# LZO_TARBALL_URLS = http://www.oberhumer.com/opensource/lzo/download
# E2FSPROGS_TARBALL_URLS = https://www.kernel.org/pub/linux/kernel/people/tytso/e2fsprogs/v1.42.8
# MTDUTILS_TARBALL_URLS = http://ftp.de.debian.org/debian/pool/main/m/mtd-utils
# DROPBEAR_TARBALL_URLS = https://matt.ucc.asn.au/dropbear/releases


#-------------------------------------------------------------------------------
#
# Local Variables:
# mode: makefile-gmake
# End:
