Source: orc
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: orc
Architecture: amd64
Depends: orc-brcm-6.3.3-release
Description: Open Route Cache
 Open Route Cache caches Linux routing information into network hardware.
