Source: kernel-x86-64
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: kernel-x86-64
Architecture: amd64
Depends: 
Description: Open Network Linux Kernel for X86
 This package provides the Open Network Linux Kernel for X86

Package: kernel-x86-64-headers
Architecture: amd64
Depends: 
Description: Open Network Linux Kernel for X86 (Headers)
 This package provides the Open Network Linux Kernel for X86 (Headers)

