Source: onlp-platform-defaults
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: onlp-platform-defaults
Architecture: any
Depends:
Description: ONLP Platform Libraries.
 ONLP Platform Libraries.
