#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PACKAGE_NAME = onlp-platform-defaults



%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

SO := libonlp-platform-defaults.so

override_dh_auto_install:
	@echo "Fill me out."
	mkdir -p $(INSTALL_DIR)/lib/$(DEB_HOST_GNU_TYPE)
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/$(SO) $(INSTALL_DIR)/lib/$(DEB_HOST_GNU_TYPE)/


