#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PACKAGE_NAME = onlp-powerpc-as5610-52x



%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/powerpc-as5610-52x/lib
	cp ../../build/powerpc-linux-gnu/bin/libonlp-powerpc-as5610-52x.so $(INSTALL_DIR)/lib/platform-config/powerpc-as5610-52x/lib
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/powerpc-as5610-52x/bin
	cp ../../onlpdump $(INSTALL_DIR)/lib/platform-config/powerpc-as5610-52x/bin/onlpdump