#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PACKAGE_NAME = onlp-powerpc-accton-as5710-54x-r0



%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/powerpc-accton-as5710-54x-r0/lib
	cp ../../build/powerpc-linux-gnu/bin/libonlp-powerpc-accton-as5710-54x-r0.so $(INSTALL_DIR)/lib/platform-config/powerpc-accton-as5710-54x-r0/lib
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/powerpc-accton-as5710-54x-r0/bin
	cp ../../onlpdump $(INSTALL_DIR)/lib/platform-config/powerpc-accton-as5710-54x-r0/bin/onlpdump
