serial 0 115200

# Wait 10 seconds unless the user types something, but
# always boot after 15 minutes.
timeout 100
totaltimeout 9000

console 1

default menu.c32

menu title ONIE Installer

label rescue
  menu label ONIE: Rescue
  menu default
  kernel vmlinuz
  append initrd=initrd.xz console=ttyS1,115200n8 boot_env=recovery boot_reason=rescue

label embed
  menu label ONIE: Embed ONIE
  kernel vmlinuz
  append initrd=initrd.xz console=ttyS1,115200n8 boot_env=recovery boot_reason=embed install_url=file:///lib/onie/onie-updater
