Source: platform-config-powerpc-quanta-ly2-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-powerpc-quanta-ly2-r0
Architecture: all
Depends: vendor-config-quanta
Description: Platform Configuration files for powerpc-quanta-ly2-r0.
 Platform Configuration files for powerpc-quanta-ly2-r0.
