Source: platform-config-x86-64-accton-as6712-32x-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-x86-64-accton-as6712-32x-r0
Architecture: all
Depends: vendor-config-accton
Description: Platform Configuration files for x86-64-accton-as6712-32x-r0.
 Platform Configuration files for x86-64-accton-as6712-32x-r0.
