Source: ofdpa-tools
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: ofdpa-tools
Architecture: any
Depends: ofdpa-2.0-closed
Description: Indigo OFDPA-based OpenFlow Agent
 Indigo (http://projectfloodlight.org/indigo) OpenFlow agent with OF-DPA pipeline
