Source: ofdpa-tools
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: ofdpa-tools
Architecture: any
Depends: ofdpa-2.0-closed
Description: OF-DPA manual debugging tools
 Initially from https://github.com/Broadcom-Switch/of-dpa ; tools for manually poking OF-DPA running process
