#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PACKAGE_NAME = ofdpa-tools


IND_SRC := $(ONL)/submodules/ofdpa-2.0/modules/indigo_ofdpa_driver/


%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_shlibdeps:
	@echo "Skipping dh_shlibdeps"

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)/usr/bin $(INSTALL_DIR)/usr/share/doc/ofdpa-tools
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/* $(INSTALL_DIR)/usr/bin
	cp $(IND_SRC)/LICENSE $(INSTALL_DIR)/usr/share/doc/ofdpa-tools




