Source: platform-config-powerpc-as5710-54x-r0a
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-config-powerpc-as5710-54x-r0a
Architecture: all
Depends: vendor-config-accton
Description: Platform Configuration files for powerpc-as5710-54x-r0a.
 Platform Configuration files for powerpc-as5710-54x-r0a.
