#-------------------------------------------------------------------------------
#
#  Copyright (C) 2015 Curt Brune <curt@cumulusnetworks.com>
#  Copyright (C) 2015 david_yang <david_yang@accton.com>
#
#  SPDX-License-Identifier:     GPL-2.0
#
#-------------------------------------------------------------------------------

# Configuration options for xorriso(1)
#
# These options will create an .ISO image that can be booted as a BIOS
# CD-ROM (no emulation).

volid "ONIE_RECOVERY"

# report_about HINT
report_about SORRY

find / -exec sort_weight 0
find /boot -exec sort_weight 1

# BIOS CD-ROM boot image
boot_image any bin_path=/boot/eltorito.img
boot-image any load_size=2048
boot_image any platform_id=0x00
boot_image any emul_type=no_emulation
boot_image any boot_info_table=on
boot_image any next

# BIOS GRUB hard disk image
#
# Declare an APM/MBR partition table so newer xorriso (libisofs 1.5.6+, as
# on the Debian 13 build host) does not mis-read the embedded GRUB boot
# block 0x55AA signature as a partition table and abort.  Harmless on
# older xorriso.
boot_image any partition_table=on
boot_image any system_area=embedded.img

# Boot catalog file
boot_image any cat_path=/boot/boot.cat

commit
end
