Source: vendor-config-dni
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: vendor-config-dni
Architecture: all
Depends: vendor-config-onl
Description: Vendor Configuration files for dni.
 Vendor Configuration files for dni.
