Source: vendor-config-imt
Section: misc
Priority: optional
Maintainer: IMT Support <support@interfacemasters.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: vendor-config-imt
Architecture: all
Depends: vendor-config-onl
Description: Vendor Configuration files for Interface Masters Technologies, Inc. platform.
 Vendor Configuration files for Interface Masters Technologies, Inc. platform.
