#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR = debian/tmp
INSTALL_DIR = $(CURDIR)/$(DEB_DH_INSTALL_SOURCEDIR)
PLATFORM_NAME = x86-64-accton-as6712-32x-r0
BUILD_DIR_BASE = ../../build


%:
	dh $@

build-arch:
	dh build-arch

clean:
	dh clean

override_dh_auto_install:
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/lib
	mkdir -p  $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/bin
	cp $(BUILD_DIR_BASE)/$(DEB_HOST_GNU_TYPE)/bin/libonlp-$(PLATFORM_NAME).so $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/lib
	cp ../../onlpdump $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/bin/onlpdump
	cp ../../debug $(INSTALL_DIR)/lib/platform-config/$(PLATFORM_NAME)/bin/debug

