Source: platform-powerpc-accton-as5610-52x-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: platform-powerpc-accton-as5610-52x-r0
Architecture: powerpc
Depends: 
Description: Quanta LY2 Platform Files
 Quanta LY2 Platform Files
