Source: kernel-85xx
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: kernel-85xx
Architecture: powerpc
Depends: 
Description: Open Network Linux Kernel for PowerPC 85xx
 This package provides the Open Network Linux Kernel for PowerPC 85xx

Package: kernel-85xx-headers
Architecture: powerpc
Depends: 
Description: Open Network Linux Kernel for PowerPC 85xx (Headers)
 This package provides the Open Network Linux Kernel for PowerPC 85xx (Headers)

Package: kernel-85xx-dtbs
Architecture: powerpc
Depends:
Description: Open Network Linux DTBs for PowerPC 85xx Platforms
 This package provides the DTBs for supported platforms based on teh 85xx kernel. 

