Source: onlp-powerpc-accton-as6700-32x-r0
Section: misc
Priority: optional
Maintainer: Support <support@bigswitch.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.8.4

Package: onlp-powerpc-accton-as6700-32x-r0
Architecture: powerpc
Depends: 
Description: AS6700-32X
 AS6700-32X
